/********************************************************************************************************************************************************************************************************************
                                                                //--Header--//
********************************************************************************************************************************************************************************************************************/
p.header{
    display: inline;
    padding: 250px;
}
/********************************************************************************************************************************************************************************************************************
                                                                //--Links--//
********************************************************************************************************************************************************************************************************************/
li.header{
    
    border: 5px solid black;
}
ul{
    padding-inline-start: initial;
    padding-right: 900px;
    background-color: rgb(0, 0, 0);
}
a:link{
    color: rgb(255, 255, 255);
}
a:visited{
    color: rgb(255, 255, 255);
}
a:hover{
    color: red;
    background-color: white;
}
nav.bottom{
    float:left;
}
/*******************************************************************************************************************************************************************************************************************/

/********************************************************************************************************************************************************************************************************************
                                                                //--Body_(Accueil)_--//
********************************************************************************************************************************************************************************************************************/
img.promo_jarditou{
    float: left;
    display: block;
}

article.body_article{
    width: 825px;
    float: left;
    display: inline;
}

section.body_accueil{
    position: relative;
    display: inline-flex;
    border: 2px solid rgb(124, 122, 122);
    background-color: rgb(177, 177, 177);
    float: left;
    padding-bottom: 475px ;
    padding-right: 130px;
}
/*******************************************************************************************************************************************************************************************************************/

/********************************************************************************************************************************************************************************************************************
                                                                //--Body_(Tableau)_--//
********************************************************************************************************************************************************************************************************************/

/*******************************************************************************************************************************************************************************************************************/

/********************************************************************************************************************************************************************************************************************
                                                                //--Body_(Contact)_--//
********************************************************************************************************************************************************************************************************************/
a.anuler{
    padding: 1px 6px;   
    border: 1px solid black;
    border-radius: 3px;
}
a.anuler:visited{
    color: black;
}

/*******************************************************************************************************************************************************************************************************************/

/********************************************************************************************************************************************************************************************************************
                                                                //--Media_Résponcive--//
********************************************************************************************************************************************************************************************************************/
 @media screen and (max-width: 768px) {
    section.body_accueil{
      display:none;
    }
    li{
        display: block;
        font-size: 75%;

    }
    h1{ 
		font-size : 15px;
        font-style: italic; 
        font-weight: bold;
	} 
    article.body_article{
    max-width: 50;
    font-size: 66%;
    height: auto;
    }
  }
li.bottom{
   font-size: small; 
}
img 
{
     max-width: 100%;
     height: auto;
}

p.header{
    padding: 120px;
}
/*******************************************************************************************************************************************************************************************************************/